# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environment files
.env
.env.*

# Virtual environments
venv/
env/
.smart/
*.egg-info/

# IDEs
.vscode/
.idea/

# Static and media files (optional, adjust if needed)
staticfiles/
media/

echo ".env" >> .gitignore
venv