{% extends 'base.html' %}
{% block content %}
<input type="file" name="image" accept="image/*" class="form-control">
<input type="file" name="video_file" accept="video/*" class="form-control">

<div class="container mt-4">
  <h2>Edit Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
