{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">My Profile</h2>

  <div class="mb-3">
    {% if user.profile.photo %}
      <img src="{{ user.profile.photo.url }}" alt="Profile Photo" class="img-thumbnail rounded-circle" width="150">
    {% else %}
      <img src="{% static 'img/default.jpg' %}" alt="Default Photo" class="img-thumbnail rounded-circle" width="150">
    {% endif %}
  </div>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
